/* Police Google font*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
    background-color: #212f3c;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}
.content{
    padding-bottom: 60px; /* espace pour ne pas cacher le contenu */
}
/* Navbar styling*/
header .navbar{  /* placer à droite */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    height: 50px;         /* Taille du logo (ajuste selon ton besoin) */
    width: auto;          /* Pour garder les proportions naturelles */
    margin-right: 100px;   /* Espace entre le logo et le texte */
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.navbar .nav-logo .logo-text{

}
.navbar .nav-menu .nav-link { /* couleur des lien nav*/
    color: whitesmoke;

}

.navbar .nav-menu {
    display: flex;*

}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* title */

h1{
    text-align: center;
    color: darkred;
}

/*
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #ffffff;
    color: #2c3e50;
}



h1{
    text-align: center;
    margin: 20px 0;
    color: #c8102e;
}

p {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 15px;
    font-size: 18px;
    text-align: justify;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
}

footer a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 10px;
}


footer a:hover {
    color: #c8102e;
    text-decoration: underline;
}
*/