/* Police Google font*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

header{

}

/*
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #ffffff;
    color: #2c3e50;
}



h1{
    text-align: center;
    margin: 20px 0;
    color: #c8102e;
}

p {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 15px;
    font-size: 18px;
    text-align: justify;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
}

footer a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 10px;
}


footer a:hover {
    color: #c8102e;
    text-decoration: underline;
}
*/